[submodule "src/third_party/glfw"]
	path = src/third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "src/test/third_party/googletest"]
	path = src/test/third_party/googletest
	url = https://github.com/google/googletest
[submodule "src/third_party/imgui"]
	path = src/third_party/imgui
	url = https://github.com/ocornut/imgui
