[submodule "desktop/third_party/glfw"]
	path = desktop/third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "desktop/test/third_party/googletest"]
	path = desktop/test/third_party/googletest
	url = https://github.com/google/googletest
